body{
    background-color: #727273;
}
div{
    background-color: #BFBFBF;
}
.Addit{
    color: whitesmoke;
}

#title{
    background-color: #72727394;
}
#item{
    background-color: #72727394;
    font-size: x-large;
    color: whitesmoke;
}
#Amount{
    background-color: #72727394;
    font-size: x-large;
    color: whitesmoke;
}
.row{
    background-color: #3B3B40;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 20px 20px 15px;

   
}
#Addhere{
    margin-top: 40px;
    font-size: 36px;
}

.Filter{
   text-align: center;
    background-color:#72727394 ;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid black;
}
#AddProduct{
   margin: 5px;
  float:right;
  text-align: center;
   width: 48%;
   border-radius: 15px;
   background-color: #D9D9D9;
  
}
#AddProduct:hover{
    background-color:#BFBFBF;
}


.LightMode{
    background-color: whitesmoke !important;
    color: black;
}
.DarkMode{
    background-color: black !important;
    color: white;
}

.modal-footer{
    background-color:#72727394 !important ;
}
.Timer{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    width: fit-content;
    margin: auto;
    color: whitesmoke;
    background-color:#3B3B40;
}
